.add-customer-form input{
    margin: 10px;
    width: 75%;
    padding: 5px;
}

.add-customer-form textarea {
    margin: 10px 0;
    width: 83%;
    padding: 5px; 
}

.add-customer-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 3px;
    background: #dedede;
    padding: 40px 0;
    width: 50%;
    margin: 0 auto;
}